@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

body {
  margin: 0;
  background: #ECF1F5;
  font-family: 'Manrope', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --bg:  #6AA5FF;
  --bg-accent: #1A55B4;
  --text-color: #dadce1;
  --nav-size: 60px;
  --input-size: 80px;
  --border: 1px solid #6AA5FF;
  --border-radius: 8px;
  --speed: 500ms; 
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;;
}

/* Top Navigation Bar */

/* <nav> */
.navbar {
  height: var(--nav-size);
  background-color: var(--bg);
  padding: 0 1rem;
  border-bottom: var(--border);
}

/* <ul> */
.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

/* <li> */
.nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Icon Button */
.icon-button {
  --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #1A55B4;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icon-button:hover {
  filter: brightness(1.2);
}

.icon-button svg { 
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}

.chatbox{
  background-color: #FDFDFD;
  padding: 0 1rem;
  height: calc(100vh - var(--nav-size) - var(--input-size));
  overflow-x: none;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}

.textbox{
  
  display: flex;
  justify-content: space-between;
  height: var(--input-size);
  
  padding: 0;
  margin: 0;
}

.textbox input{
  display: block;
  padding: 0 8px;
  border-radius: 10px;
  align-self: center;
  border: 0px solid;
  --button-size: calc(var(--input-size) * 0.5);
  width: calc(100vw - var(--button-size) - 10px);
  height: calc(var(--input-size) * 0.9);
  font-size: 25px;
}

.textbox input:focus{
  outline: none;
}

.text-item{
  width: calc(var(--input-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-button{
  width: calc(var(--input-size) * 0.5);
  height: calc(var(--input-size) * 0.75);
  background-color: #1A55B4;
  border-radius: 10px;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.text-button:hover{
  filter: brightness(1.2);
}

.text-button svg { 
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}

.text-button svg { 
  fill: var(--text-color);
  width: 20px;
  height: 20px;
}

.container{
  display: flex;
  flex-direction: column;
}

.message{
  font-weight: bold;
  max-width: 45vw;
  color:  white;
  margin-bottom: 2ch;
}

.bot{
  background-color: #FE746F;
  border-radius: 15px 15px 15px 0px;
  padding: 0.4rem 1rem 0.4rem 1rem;
}

.user{
  background-color: #FEC857;
  border-radius: 15px 15px 0px 15px;
  padding: 0.4rem 1rem 0.4rem 1rem;
  align-self: flex-end;
}